{% extends 'myblog/base.html' %}

{% block title %}Login{% endblock %}

{% block header %}
    <div class="container text-center my-5">
        <h1 class="mb-4">Login</h1>
        <h5>Feel the better experience. You are just one step away!</h5>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mx-auto" style="width: 60%;">
            <form method="post">
                {% csrf_token %}
                {{ form }}  
                <input type="submit" value="Log In" class="btn btn-primary form-control my-3">
            </form>
            <p class="text-center mt-3">Not having an account ? <a href="{% url 'signup' %}">Create One</a></p>
        </div>
    </div>

{% endblock %}